.bg{
  background-image: url('/images/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.firefly{
  position: absolute;
  width: 315.55px;
  z-index: 1;
  height: 128px;
  left: 11vw;
  top: 11vh;
  /* transition: all 0.1s linear; */
}
.firefly .glow{
  position: absolute;
  background: url(/images/firefly/glow.png);
}
.firefly .wing_left{
  position: absolute;
  width: 128px;
  height: 56px;
  transform: translate(-66px, 36px) rotate(0deg);
  background: url(/images/firefly/UI_Firefly_Wing.png);
  animation: wing_left 0.7s infinite linear;
}
.firefly .wing_right{
position: absolute;
width: 140.55px;
height: 56px;
background: url(/images/firefly/UI_Firefly_Wing.png);
/* transform: matrix(-1, 0, 0, 1, 0, 0) translate(-59px, 36px); */
/* transform: matrix(-1, 0, 0, 1, 0, 0) translate(-59px, 36px) rotate(-38deg); */
animation: wing_right 0.7s infinite linear;
}
.firefly .body{
  position: absolute;
  width: 128px;
  height: 128px;
  background: url(/images/firefly/UI_Firefly_Body.png);
}

@keyframes wing_left {
  0% {
    transform: translate(-66px, 36px) rotate(0deg); /*middle*/
  }
  25% {
    transform: translate(-55px, 0px) rotate(38deg); /*up*/
  }
  50% {
    transform: translate(-66px, 36px) rotate(0deg); /*middle*/
  }
  75%{
    transform: translate(-55px, 66px) rotate(-38deg); /*down*/
  }
  100% {
    transform: translate(-66px, 36px) rotate(0deg); /*middle*/
  }
}
@keyframes wing_right {
  0% {
    transform: matrix(-1, 0, 0, 1, 0, 0) translate(-59px, 36px) rotate(0deg); /*middle*/
  }
  25% {
    transform: matrix(-1, 0, 0, 1, 0, 0) translate(-48px, 12px) rotate(38deg);/*up*/
  }
  50% {
    transform: matrix(-1, 0, 0, 1, 0, 0) translate(-59px, 36px) rotate(0deg); /*middle*/
  }
  75%{
    transform: matrix(-1, 0, 0, 1, 0, 0) translate(-48px, 63px) rotate(-38deg); /*down*/
  }
  100% {
    transform: matrix(-1, 0, 0, 1, 0, 0) translate(-59px, 36px) rotate(0deg); /*middle*/
  }
}